# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
.sln
.filters
.user
.vcxproj
/simple-vector/array_ptr.h
/simple-vector/cpp-simple-vector.sln
/simple-vector/cpp-simple-vector.vcxproj.filters
/simple-vector/cpp-simple-vector.vcxproj
/simple-vector/cpp-simple-vector.vcxproj.user
/simple-vector/x64/Debug
/simple-vector/cpp-simp.9B21B709/x64/Debug
/simple-vector/simple-vector/x64/Debug
/simple-vector/simple-vector.vcxproj
/simple-vector/simple-vector.vcxproj.filters
/simple-vector/simple-vector.vcxproj.user
/simple-vector/simple-vector.sln
/simple-vector/simple-vector/x64/Release
